MONGO_URI=   //DB connection
PORT=    
NODE_ENV=     //develop or production
PRIMARY_PEM=    //private key whick get from wxPayment official site
SERIAL_NO=    //   serial number refer to PRIMARY_PEM
APPID=   //公众号id
APP_SECRET=    //公众号password
MCHID=    //商户号
NOTIFY_URL=    //微信 notify callback server address   
API_KEY=    //微信支付的apiv3密钥